.StoryContainer {
  flex-direction: column;
  display: flex;
  border-top: 1px solid #ccced0;
  border-left: 1px solid #ccced0;
  border-right: 1px solid #ccced0;
}

.StoryData {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ccced0;
  padding: 5px;
  font-size: 16px;
  color: black;
}

.StoryTitle {
  border-bottom: 10px;
}
